doctype html
html(lang='en')
  head
    title Ayman Ragab resume
    meta(charset='UTF-8')
    link(href='https://fonts.googleapis.com/css?family=Khula:400', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=Raleway", rel="stylesheet")

  body
    .header
    .resume-container
      .eyecatch.u-doc-container
        h1.eyecatch-title Ayman Ragab
        p.eyecatch-subtitle IT specialist
        p.eyecatch-description
          | An IT professional with over 4 years of experience in customer service, data analysis, and software development.
          | Skilled in Java, Python, R, SQL, and various web and data technologies.
          | Seeking a position where I can effectively utilize my expertise and passion for computers and new technology to provide a positive contribution to a great company.

      .contact
        .row
          .three.columns.contact-each-first
            p.contact-heading Languages
            p.contact-content Arabic, English
          .three.columns.contact-each-second
            p.contact-heading Phone Number
            p.contact-content +201030353944
          .three.columns.contact-each-third
            p.contact-heading Email
            p.contact-content.contact-content-email aymnrgab@outlook.com
          .three.columns.contact-each-last
            p.contact-heading Location
            p.contact-content Asyut, Egypt

      .row.u-doc-container
        .eight.columns
         .six.columns
          h2.u-section-title Work Experience
          .work-each
            p.u-each-title
              span.u-each-organization Vodafone, Egypt — Customer Services
              span.u-each-period 2023.01 ~ Current
            p.work-each-description
              | Maintained a positive, empathetic, and professional attitude toward customers at all times
              ul
                li - Responded promptly to customer inquiries and resolved customer complaints.
                li - Processed orders, forms, applications, and requests.
                li - Keep records of customer interactions, transactions, comments, and complaints.
                li - Communicated and coordinated with colleagues as necessary.
                li - Provided feedback on the efficiency of the customer service process.
                li - Ensured customer satisfaction and provided professional customer support.
            p.u-each-title
              span.u-each-organization Data Analyst
              span.u-each-period 2019.07 ~ Current
            p.work-each-description
              | Generated queries from inventory database to efficiently extract and format sales and inventory data
              ul
                li Managed end-to-end process for updating and verifying special orders data
                li Analyzed inventory usage reports to avoid backordering
                li Ensured data accuracy through the creation and implementation of data integrity queries
                li Learned new technologies such as Java 8, J2EE, Big Data tools – HaDoop, MapReduce, DevOps tools, Maven, JSF, virtualization, Spring/Hibernate, Ruby, Python.
          .education
            h2.u-section-title Education
            .education-each
              span.u-each-organization Coursera
              span.u-each-period 2019 ~ Current
            ul.u-each-subtitle Google Data Analytics Specialization Certificate:
                li Process Data from Dirty to Clean
                li Foundations: Data, Data, Everywhere
                li Prepare Data for Exploration
                li Share Data Through the Art of Visualization
                li Google Data Analytics Capstone: Complete a Case Study
                li Analyze Data to Answer Questions
                li Ask Questions to Make Data-Driven Decisions
                li Data Analysis with R Programming
            ul.u-each-subtitle IBM Data Analytics with Excel and R Professional Certificate:
                li Introduction to Data Analytics
                li Excel Basics for Data Analysis
                li Data Visualization and Dashboards with Excel and Cognos
                li Assessment for Data Analysis and Visualization Foundations
                li Introduction to R Programming for Data Science
                li SQL for Data Science with R
                li Data Analysis with R
                li Data Visualization with R
                li Data Science with R - Capstone Project
         .six.columns
            ul.u-each-subtitle IBM Data Science Professional Certificate:
                li What is Data Science?
                li Tools for Data Science
                li Data Science Methodology
                li Python for Data Science, AI & Development
                li Python Project for Data Science
            ul.u-each-subtitle Google IT Support Specialization Certificate:
                li Technical Support Fundamentals
                li IT Security: Defense against the digital dark arts
                li Operating Systems and You: Becoming a Power User
                li The Bits and Bytes of Computer Networking
                li System Administration and IT Infrastructure Services
            ul.u-each-subtitle University of Michigan Programming for Everybody Certificate:
                li Programming for Everybody (Getting Started with Python)
                li Python Data Structures
            ul.u-each-subtitle Google IT Automation with Python Professional Certificate:
                li Crash Course on Python
                li Using Python to Interact with the Operating System
            ul.u-each-subtitle Google Project Management: Professional Certificate:
                li Foundations of Project Management
            ul.u-each-subtitle Applied Software Engineering Fundamentals Specialization:
                li Python for Data Science, AI & Development
            p.u-each-subtitle Microsoft Azure Data Engineering Associate DP-203 Exam Prep Specialization
            p.u-each-subtitle IBM Data Analyst Professional Certificate
            p.u-each-subtitle IBM Data Engineering Professional Certificate
            p.education-each
              span.u-each-organization Derivatives Trade Processing Team
              span.u-each-period 09/2017 - 09/2018
            ul.u-each-subtitle IT Graduate Associate
                li - Developed critical worldwide software to allow for trades to be submitted/processed using Java and advanced logic such as validation rules and business logic.
                li - Applied object-oriented development principles and design patterns to effectively solve problems in a configurable manner.
                li - Used supporting technologies such as Spring framework, SQL, XML, REST, test harnesses.
                li - Used Linux boxes to access different environments and SVN/GitHub for version control.
                li - Followed agile methodologies such as SCRUM and Kanban and used tools such as Confluence, Jira, TFS.
                li - Performed developer testing using JUnit, Mockito, Fixture Builders, EasyMock, TDD, BDD.

            p.education-each
              span.u-each-organization Assuit University
              span.u-each-period 2016 ~ 2020
            p.u-each-subtitle Bachelor's of Law

        .four.columns

         .six.columns
          .education
            h2.u-section-title Profile Links
            ul
                li
                  a(href='https://www.linkedin.com/in/aymanragab') Linkedin
                li
                  a(href='https://github.com/aymanrgab') Github

          .education
            h2.u-section-title Technical skills
            ul
                li - Object Oriented Development/Fundamentals and Design Patterns
                li ​- Siebel CRM
                li ​- Java 8/EE, Spring Integration/Core, JDBC, JSF, XML, ReST/SOAP, Maven
                li ​- DBMS (Oracle), T/SQL, RDBMS
                li ​- Python, R, C, C++
                li  ​- JUnit, Mockito, Fixture Builders, EasyMock
                li  - Agile Methodologies – SCRUM and Kanban
                li  - Confluence, Jira
                li  ​- TeamCity, Jenkins
         .six.columns
            ul
                li  ​- Sonar
                li  ​- WebLogic
                li  ​- Microsoft Office
                li  ​- Microsoft Windows
                li  ​- SVN/GitHub/Git/BitBucket/TFS
                li  ​- Linux
                li  ​- HTML5/CSS/JavaScript

    .footer
