doctype html
html(lang='en')
  head
    title Ayman Ragab resume
    meta(charset='UTF-8')
    link(href='https://fonts.googleapis.com/css?family=Khula:400', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=Raleway", rel="stylesheet")

  body
    .header
    .resume-container
      .eyecatch.u-doc-container
        h1.eyecatch-title Ayman Ragab
        p.eyecatch-subtitle Data Analyst
        p.eyecatch-description
          | Experienced and dedicated Data Analyst with several years of experience identifying efficiencies and problem areas within data streams while communicating needs for projects.
          | Adept at receiving and monitoring data from multiple data streams, including Access, SQL, and Excel data sources.
          | Ability to synthesize quantitative information and interact effectively with colleagues and clients.
          | Proven track record of generating summary documents for senior management for monthly and quarterly audit and compliance reporting.

      .contact
        .row
          .three.columns.contact-each-first
            p.contact-content Arabic, English
            p.contact-heading Languages
          .three.columns.contact-each-second
            p.contact-content +201220600615
            p.contact-heading Phone Number
          .three.columns.contact-each-third
            p.contact-content.contact-content-email ars.ss295@gmail.com
            p.contact-heading Email
          .three.columns.contact-each-last
            p.contact-content Asyut, Egypt
            p.contact-heading Location

      .row.u-doc-container
        .six.columns

          h2.u-section-title Work Experience
          .work-each
            p.u-each-title
              span.u-each-organization Data Analyst
              span.u-each-period 2019.07 ~ Current
            p.u-each-subtitle President
            p.work-each-description
              | Generated queries from inventory database to efficiently extract and format sales and inventory data
              ul
                li Managed end-to-end process for updating and verifying special orders data
                li Analyzed inventory usage reports to avoid backordering
                li Ensured data accuracy through the creation and implementation of data integrity queries
                li Developed mass update system to avoid manual updates to data warehouse. Trained other users on the program
                li Consult business strategy for startups
          .education
            h2.u-section-title Education
            .education-each
              span.u-each-organization Coursera
              span.u-each-period 2019 ~ current
            p.u-each-subtitle Google Data Analytics Professional
            p.u-each-subtitle IBM Data Engineering Professional
            p.u-each-subtitle University of Michigan Programming for Everybody
            p.u-each-subtitle IBM Data Science
            p.u-each-subtitle Google IT Support Professional
            p.u-each-subtitle Microsoft Azure Data Engineering Associate DP-203 Exam Prep Specialization
            p.u-each-subtitle Google Project Management
            p.u-each-subtitle IBM Data Analyst Professional
            p.u-each-subtitle IBM Data Analytics with Excel and R Professional Certificate
            p.u-each-subtitle Google IT Automation with Python Professional

            .education-each
              span.u-each-organization Assuit University
              span.u-each-period 2016 ~ 2020
            p.u-each-subtitle Bachelor of Laws

        .six.columns

         .six.columns

          .education
            h2.u-section-title Profile Links
            ul
                li
                  a(href='https://www.linkedin.com/in/aymanragab') www.linkedin.com/in/aymanragab
                li
                  a(href='https://github.com/aymanrgab') github.com/aymanrgab

          .education
            h2.u-section-title Technical skills
            ul
                li SQL
                li R
                li Tableau
                li Python
                li RDBMS
                li SAS
                li Project management
                li Excel
                li Microsoft Power BI
                li Data warehousing
                li Data Visualization
                li Data Calculations
                li Data mining
                li Data modeling
                li Extraction Transformation and Loading (ETL)
                li Oracle Database
                li communication
         .six.columns
            ul
                li Problem-solving
                li Watson Studio
                li Structured Thinking
                li Data-driven Decision Making
                li Spreadsheets
                li Presentations
    .footer
