doctype html
html(lang='en')
  head
    title Ayman Ragab resume
    meta(charset='UTF-8')
    link(href='https://fonts.googleapis.com/css?family=Khula:400', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=Raleway", rel="stylesheet")

  body
    .header
    .resume-container
      .eyecatch.u-doc-container
        h1.eyecatch-title Ayman Ragab
        p.eyecatch-subtitle Data Analyst
        p.eyecatch-description
          | Experienced and dedicated Data Analyst with several years of experience identifying efficiencies and problem areas within data streams while communicating needs for projects.
          | Adept at receiving and monitoring data from multiple data streams, including Access, SQL, and Excel data sources.
          | Ability to synthesize quantitative information and interact effectively with colleagues and clients.
          | Proven track record of generating summary documents for senior management for monthly and quarterly audit and compliance reporting.

      .contact
        .row
          .three.columns.contact-each-first
            p.contact-heading Languages
            p.contact-content Arabic, English
          .three.columns.contact-each-second
            p.contact-heading Phone Number
            p.contact-content +201220600615
          .three.columns.contact-each-third
            p.contact-heading Email
            p.contact-content.contact-content-email ars.ss295@gmail.com
          .three.columns.contact-each-last
            p.contact-heading Location
            p.contact-content Asyut, Egypt

      .row.u-doc-container
        .eight.columns
         .six.columns
          h2.u-section-title Work Experience
          .work-each
            p.u-each-title
              span.u-each-organization Data Analyst
              span.u-each-period 2019.07 ~ Current
            p.work-each-description
              | Generated queries from inventory database to efficiently extract and format sales and inventory data
              ul
                li Managed end-to-end process for updating and verifying special orders data
                li Analyzed inventory usage reports to avoid backordering
                li Ensured data accuracy through the creation and implementation of data integrity queries
                li Developed mass update system to avoid manual updates to data warehouse. Trained other users on the program
                li Consult business strategy for startups
          .education
            h2.u-section-title Education
            .education-each
              span.u-each-organization Coursera
              span.u-each-period 2019 ~ Current
            ul.u-each-subtitle Google Data Analytics Specialization Certificate:
                li Process Data from Dirty to Clean
                li Foundations: Data, Data, Everywhere
                li Prepare Data for Exploration
                li Share Data Through the Art of Visualization
                li Google Data Analytics Capstone: Complete a Case Study
                li Analyze Data to Answer Questions
                li Ask Questions to Make Data-Driven Decisions
                li Data Analysis with R Programming
            ul.u-each-subtitle IBM Data Analytics with Excel and R Professional Certificate:
                li Introduction to Data Analytics
                li Excel Basics for Data Analysis
                li Data Visualization and Dashboards with Excel and Cognos
                li Assessment for Data Analysis and Visualization Foundations
                li Introduction to R Programming for Data Science
                li SQL for Data Science with R
                li Data Analysis with R
                li Data Visualization with R
                li Data Science with R - Capstone Project
         .six.columns
            ul.u-each-subtitle IBM Data Science Professional Certificate:
                li What is Data Science?
                li Tools for Data Science
                li Data Science Methodology
                li Python for Data Science, AI & Development
                li Python Project for Data Science
            ul.u-each-subtitle Google IT Support Specialization Certificate:
                li Technical Support Fundamentals
                li IT Security: Defense against the digital dark arts
                li Operating Systems and You: Becoming a Power User
                li The Bits and Bytes of Computer Networking
                li System Administration and IT Infrastructure Services
            ul.u-each-subtitle University of Michigan Programming for Everybody Certificate:
                li Programming for Everybody (Getting Started with Python)
                li Python Data Structures
            ul.u-each-subtitle Google IT Automation with Python Professional Certificate:
                li Crash Course on Python
                li Using Python to Interact with the Operating System
            ul.u-each-subtitle Google Project Management: Professional Certificate:
                li Foundations of Project Management
            ul.u-each-subtitle Applied Software Engineering Fundamentals Specialization:
                li Python for Data Science, AI & Development
            p.u-each-subtitle Microsoft Azure Data Engineering Associate DP-203 Exam Prep Specialization
            p.u-each-subtitle IBM Data Analyst Professional Certificate
            p.u-each-subtitle IBM Data Engineering Professional Certificate

            p.education-each
              span.u-each-organization Assuit University
              span.u-each-period 2016 ~ 2020
            p.u-each-subtitle Bachelor's of Law

        .four.columns

         .six.columns
          .education
            h2.u-section-title Profile Links
            ul
                li
                  a(href='https://www.linkedin.com/in/aymanragab') Linkedin
                li
                  a(href='https://github.com/aymanrgab') Github

          .education
            h2.u-section-title Technical skills
            ul
                li SQL
                li R
                li C
                li Tableau
                li Python
                li JS
                li RDBMS
                li SAS
                li Project management
                li Excel
                li Microsoft Power BI
                li Data warehousing
                li Data Visualization
                li Data Calculations
                li Data mining
                li Data modeling
                li Extraction Transformation and Loading (ETL)
                li Debugging
                li Encryption Algorithms and Techniques
                li Network Protocols
                li Customer Service
                li Cloud Computing
                li Oracle Database
         .six.columns
            ul
                li communication
                li Problem-solving
                li Watson Studio
                li Structured Thinking
                li Data-driven Decision Making
                li Spreadsheets
                li Presentations
                li Linux Systems Administration
                li Agile Project Management
                li Implementing/managing directory services
                li Git
                li Bash Shell
                li Artificial Intelligence
                li Data Science Methodology
                li Cognos Anlytics

    .footer
